/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F4F6; /* Gris Neutro */
    color: #1E3A8A; /* Azul Marino */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #1E3A8A; /* Azul Marino */
}

a {
    text-decoration: none;
    color: #60A5FA; /* Celeste Suave */
}

a:hover {
    color: #1E3A8A; /* Azul Marino */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 250px; /* Puedes ajustar el tamaño del sidebar */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1E3A8A; /* Azul Marino */
    color: white;
    transition: all 0.3s ease;
    padding-top: 60px;
    z-index: 1000; /* Asegura que el sidebar esté encima del contenido */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #60A5FA; /* Celeste Suave */
}

.sidebar-header h2 {
    margin: 0;
    color: white;
}

/* Lista de elementos en el sidebar */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px 25px;
    border-bottom: 1px solid #F3F4F6; /* Gris Neutro */
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-menu li a:hover {
    background-color: #60A5FA; /* Celeste Suave */
    transition: background-color 0.3s;
}

.sidebar-menu i {
    margin-right: 15px;
}

/* Ajustes para el contenido cuando el sidebar está abierto */
#content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.open-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* Ajustes para pantallas pequeñas */
    .sidebar {
        width: 200px;
    }
}
