<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iniciar sesión</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <section class="d-flex justify-content-center align-items-start vh-100">
    <div class="panel card shadow col-xs-12 col-sm-8 col-md-6 col-lg-4 p-4">
      <div class="title-container">
        <h4 class="title-text text-center">INICIO DE SESIÓN</h4>
      </div>
      <form action="{{ url_for('auth.login') }}" method="POST">
        <div class="mb-4">
          <label for="floatingInput" class="label-text">
            <i class="fas fa-user" style="color: black;"></i> Usuario:
          </label>
          <input type="text" class="form-control" id="floatingInput" name="nombre" placeholder="Ingrese su Nombre" required />
        </div>
        <div class="mb-4">
          <label for="floatingPassword" class="label-text">
            <i class="fas fa-lock" style="color: black;"></i> Contraseña:
          </label>
          <div class="input-group">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Ingrese su Contraseña" required />
            <span class="passwordToggle" id="togglePassword">
              <i class="bi bi-eye"></i>
            </span>
          </div>
  
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="alert alert-danger mt-3">
                <strong>{{ messages[0][0].capitalize() }}:</strong> {{ messages[0][1] }}
              </div>
            {% endif %}
          {% endwith %}
        </div>
  
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" />
          <label class="form-check-label" for="rememberPasswordCheck">
            Recordar contraseña
          </label>
        </div>
  
        <div class="mb-2">
          <button id="botton" type="submit" class="boton1 col-12 d-flex justify-content-center">
            <span class="button-text">Iniciar</span>
          </button>
        </div>
  
        <div class="logo-container mt-2 text-center">
          <img src="{{ url_for('static', filename='images/micelu1.png') }}" alt="Logo" class="logo-image">
        </div>
      </form>
    </div>
  </section>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>