<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row w-100">
            <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                <div class="card shadow-lg border-0 rounded-4">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4 font-weight-bold">Iniciar sesión</h2>
                        <form>
                            <div class="form-floating mb-3">
                                <label for="floatingInput">Correo electrónico</label>

                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Contraseña</label>
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                <label class="form-check-label" for="rememberPasswordCheck">
                                    Recordar contraseña
                                </label>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg text-uppercase fw-bold mx-auto d-block" type="submit">Iniciar sesión</button>
                            </div>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
